.btnn
{
	-fx-margin-left: 150px;
	-fx-margin-right: 15px;
	-fx-background-color:transparent;	
}
.btnn:hover
{
	-fx-background-color: #20272f;
	-fx-text-fill:rgb(255, 255, 255);
	-fx-cursor: hand;	
}
#btn_add
{	
	-fx-graphic: url("../imgs/add-group.png");
}
#btn_add:hover
{	
	-fx-graphic: url("../imgs/add-group_white.png");
}
#btn_clients
{
	-fx-graphic: url("../imgs/users-solid.png");
}
#btn_clients:hover
{
	-fx-graphic: url("../imgs/users-solid_white.png");
}

#btn_coachs
{	
	-fx-graphic: url("../imgs/Trainer1.png");
}
#btn_coachs:hover
{	
	-fx-graphic: url("../imgs/Trainer1_white.png");
}
#btn_gym
{
	-fx-graphic: url("../imgs/gym.png");
}
#btn_gym:hover
{
	-fx-graphic: url("../imgs/gym_white.png");
}
#btn_static
{
	-fx-graphic: url("../imgs/statistic.png");
}
#btn_static:hover
{
	-fx-graphic: url("../imgs/statistic_white.png");
}